<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context-3.0.xsd
">

	<!-- Declaration des beans model -->

	<bean name="user" class="com.aitech.cirta.model.User">
		<property name="prenom" value="nassim" />
		<property name="nom" value="ait braham" />
	</bean>

	<bean name="role" class="com.aitech.cirta.model.Role">
		<!-- Injection de dependance par constructeur -->
		<constructor-arg type="String" value="ADMIN" />
	</bean>

	<!-- Declaration des beans Service -->

	<bean name="userService" class="com.aitech.cirta.service.UserServiceImpl">
		<!-- Injection de la dependande UserDao de l'objet UserService grace a 
			l'injection par mutateur garce a la balise property -->
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean name="roleService" class="com.aitech.cirta.service.RoleServiceImpl">
		<!-- Injection de dependance par constructeur -->
		<constructor-arg ref="roleDao" />
	</bean>

	<!-- Declaration des beans Dao -->

	<bean name="userDao" class="com.aitech.cirta.dao.UserDaoImpl">
		<!-- Injection de la dependance User dans l'objet UserDao par mutateur 
			garce a la balise property -->
		<property name="user" ref="user"></property>
	</bean>

	<bean name="roleDao" class="com.aitech.cirta.dao.RoleDaoImpl">
		<!-- Injection de dependance par constructeur -->
		<constructor-arg ref="role" />
	</bean>


</beans>
