<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>


		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cirta_data_base</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="show_sql">false</property>


		<mapping resource="com/aitech/cirta/model/hotels.hbm.xml" />

		<mapping resource="com/aitech/cirta/model/ville.hbm.xml" />

	</session-factory>
</hibernate-configuration>
